*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    justify-content: center;
    margin: 0 auto;
 }

img:not(.logo img){
    max-width: 50%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

h1{
    text-align: center;
    font-family:'Brush Script MT',cursive;
    font-size: 64px;
    color:#2D1B0D;
    margin-bottom: 8px;
    font-weight: bold;
}

body{
    background-color: #E8D5B5;
}
.searchForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #472E27;
    font-family: 'Times New Roman', Times, serif;  
    font-size: 16px;
    max-width: 600px;
    border-radius: 20px;
    padding: 35px 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    margin: 0 auto 100px;
    width: 100%;
}

/* legend */
.searchForm legend{
    text-align: center;
    font-family:'Brush Script MT', cursive;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
}
.radio{
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;

}
fieldset {
    border: 1px solid #ffffff26;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    background-color: rgba(113, 83, 59,0.3);   
}
/* "Search by:" */
fieldset p{
    color: rgba(243, 237, 226, 0.6);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 11px;

}
/* hide radio */
input[type="radio"][id^="r"] {
    position: absolute;
    /* not display: none so error displays */
    opacity: 0.01;
    width: 0.01;
    height: 0.01;
}
/* make radio like buttons */
input[type="radio"][id^="r"] + label {
    display: inline-block;
    padding: 10px 40px;
    background-color: #ffffff;
    color: #674637;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 8px 5px;
    margin-left: 5%;
    transition: background 0.3s;
}
/* select search filter */
 input[type="radio"][id^="r"]:checked + label {
    background-color: #B08D57;
    color: #ffffff;
}
input[type="search"]{
    background-color: #4C3428;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    border: none;
    margin-bottom: 20px;
    width: 95%;
}
input[type="search"]:focus{
    background-color: #2c1d17;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    border: none;
    margin-bottom: 30px;
    max-width: 100%;
    color: #ffffff;
    transition: background 0.3s;
}
input[type="submit"]{
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: #674637;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
    margin-top: 8px;
}
input[type="submit"]:hover{
    background-color: #B08D57;
    color: #ffffff;
    transition: background 0.3s;
}

.text1{
    color: #674637;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 50px;
}
footer{
    margin-top: 20px;
    font: 16px serif;
    color: #2c1d17;
}
label[for="s1"]{
    font-size: 30px;
    color: #1d130f;
}
#s1::placeholder{
    color:#2c1d17;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#resultCards li{
    color:#472E27;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#ffffff;
    font-family: 'Times New Roman', Times, serif;  
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    padding: 35px 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    margin: 0 auto 40px;
    width: 100%;

}
#resultCards li:hover{
    background-color: #B08D57;
    color: #ffffff;
    transition: background 0.3s;

}
.c, .a,  .t{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/*navigation bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F140A;
    padding: 15px 40px;
}

/* اللوجو */
.logo img {
    height: 50px;
    width: auto;
    display: block;
}

/* اللينكات */
.nav-links a {
    color: #E8D5B5;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
    transition: 0.3s;
}

/* hover */
.nav-links a:hover {
    color: #B08D57;
}
.nav-links a {
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #B08D57;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #2D1B0D;
    border-bottom: 2px solid #B08D57;
    backdrop-filter: blur(10px); /* blur effect */
   
}

.logo img {
    height: 50px;
    transition: 0.3s;
}

.logo img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px #B08D57);
}


