{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Available Books - Admin</title>

    <link rel="stylesheet" href="{% static 'css/admin_available_books_style.css' %}">
</head>

<body>

<header>
    <nav class="navbar">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/papyrus_hub_logo.png' %}" alt="logo">
        </a>

        <div class="nav-links">
            <a href="{% url 'admin_books' %}">Available Books</a>
            <a href="{% url 'admin_dashboard' %}">Admin Dashboard</a>
            <a href="{% url 'add_book' %}">Add</a>
        </div>
    </nav>
</header>

<div class="container">

    <h1>All Books</h1>

    <table>
        <caption>List of Currently Available Books</caption>

        <thead>
            <tr>
                <th>Book ID</th>
                <th>Book Title</th>
                <th>Book Category</th>
                <th>Book Author</th>
            </tr>
        </thead>

        <tbody id="tbodyA"></tbody>
    </table>

<a href="{% url 'add_book' %}" class="btn">+ Add Book</a>
</div>

<hr>

<footer>
    Project 2 (Online Library website) - Phase1
</footer>

<!-- JS -->
<script src="{% static 'js/admin_available_books_script.js' %}"></script>

</body>
</html>
